* {
  margin: 0;
  padding: 0;
}
input button {
  outline: none;
  cursor: none;
}
textarea {
  resize: none;
	outline: none;
}
.main {
display: flex;
justify-content: center;
  margin-top: auto;
}
.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input__text {
  padding: 10px;
  border: solid 2px rgb(10,10,10);
  appearance: none;
  text-indent: 10px;
}
.btn__enter {
  margin: center;
  display: block;
  background-color: #fff;
  padding: 10px 15px 10px 15px;
}


